{% extends "index.html" %}

{% block content %}

<div class="w3-sidebar w3-bar-block w3-light-grey w3-card" style="width:25%">
    <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
    <a href="{% url 'events' %}" class="w3-bar-item w3-button">Events</a>
    <a href="#" class="w3-bar-item w3-button">Profile</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
    <br>
    <a href="#" class="w3-bar-item w3-button">Create Event</a>
</div>

<div style="margin-left:25%">

<div class="w3-container">
    
    <h1>Events</h1>

      {% if event_list %}
      <ul>

        {% for event in event_list %}
        <li>
          {{event.name}}
          {{event.description}}
        </li>
        {% endfor %}

      </ul>

      {% else %}
        <p>There are no events.</p>
      {% endif %}       
  

    </div>
</div>
{% endblock %}