{% extends "index.html" %}

{% block content %}

<div style="margin-left:25%">
    <div class="w3-container">
<h1>Name: {{ event.name }}</h1>

<p><strong>Date:</strong> {{ event.date }}</p>
<p><strong>Description:</strong> {{ event.description }}</p>
<p><strong>Public:</strong> {{ event.public }}</p>

{% if user.is_staff %}
<a href="{% url 'event-update' pk=event.pk %}" class="w3-bar-item w3-button" style="background-color: black; color: white;">Update</a>
{% endif %}

    </div>
</div>
{% endblock %}