{% extends "index.html" %}

{% block content %}
<div style="margin-left:25%">

<div class="w3-container">
  <div class="row justify-content-around">
    <div class="col-4">
      {% if events %}
      <h1>Public Events</h1>
      <ul>
        {% for event in orderby %}
          {% if event.public == True %}
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{event.date}}</h6>
              <p class="card-text">{{event.description}}</p>
              {% for role in roles %}
              {% if event.name == role.event.name %}
              <p>{{role.name}}: {{role.user}}</p>
              {% endif %}
              {% endfor %}
              <a href="{% url 'event-detail' pk=event.pk %}" class="w3-bar-item w3-button"style="background-color: black; color: white;">Details</a>
            </div>
          </div>
          <br>
          {% endif %}
        {% endfor %}
      </ul>
    </div>


    <div class="col-4">
      {% if user.is_staff %}
      <h1>Private events</h1>
      <ul>
        {% for event in orderby %}
          {% if event.public == False %}
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{event.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{event.date}}</h6>
              <p class="card-text">{{event.description}}</p>
              {% for role in roles %}
              {% if event.name == role.event.name %}
              <p>{{role.name}}: {{role.user}}</p>
              {% endif %}
              {% endfor %}
              <a href="{% url 'event-detail' pk=event.pk %}" class="w3-bar-item w3-button"style="background-color: black; color: white;">Details</a>
            </div>
          </div>
          <br>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      {% else %}
        <p>There are no events.</p>
      {% endif %} 
    </div>
  </div>
</div>
{% endblock %}