{% extends "index.html" %}

{% block content %}
<div style="margin-left:25%">

<div class="w3-container">
  <h1>My Events</h1>
  <div class="container">
          {% if roles %}
          <div class="row"> 
            {% for role in roles %} 
            {% if role.user|striptags == user.get_username %}
            <div class="col-sm-4"> <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title">{{role.event.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{role.event.date}}</h6>
              <p class="card-text">{{role.event.description}}</p>
              {% for role1 in roles %}
              {% if role1.event.name == role.event.name %}
              <p><strong>{{role1.name}}</strong>: {{role1.user}}</p>
              {% endif %}
              {% endfor %}
              <a href="{% url 'event-detail' pk=role.event.pk %}" class="w3-bar-item w3-button"style="background-color: black; color: white;">Details</a>
            </div>
          </div>
        </div> 
        {% endif %}
        {% endfor %} 
      </div> 
    </div>
      {% else %}
        <p>You have no events.</p>
      {% endif %} 
  </div>
</div>
{% endblock %}